In [1]:
import yfinance as yf
import pandas as pd
import numpy

In [2]:
apple_2yr = yf.download("AAPL", start='2022-10-15', end='2024-10-15')

[*********************100%***********************]  1 of 1 completed

In [3]:
apple_2yr

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-17,141.070007,142.899994,140.270004,142.410004,140.849396,85250900
2022-10-18,145.490005,146.699997,140.610001,143.750000,142.174728,99136600
2022-10-19,141.690002,144.949997,141.500000,143.860001,142.283508,61758300
2022-10-20,143.020004,145.889999,142.649994,143.389999,141.818680,64522000
2022-10-21,142.869995,147.850006,142.649994,147.270004,145.656158,86548600
...,...,...,...,...,...,...
2024-10-08,224.300003,225.979996,223.250000,225.770004,225.770004,31855700
2024-10-09,225.229996,229.750000,224.830002,229.539993,229.539993,33591100
2024-10-10,227.779999,229.500000,227.169998,229.039993,229.039993,28183500
2024-10-11,229.300003,229.410004,227.339996,227.550003,227.550003,31759200
2024-10-14,228.699997,231.729996,228.600006,231.300003,231.300003,39882100

In [4]:
data = apple_2yr

In [5]:
import pandas_ta as ta

In [6]:
data['SMA15'] = ta.sma(data['Close'], length=15)
data['EMA5'] = ta.ema(data['Close'], length=5)
data['RSI15'] = ta.rsi(data['Close'], length=15)
data['BB_upper'], data['BB_lower'] = ta.bbands(data['Close'], length=56, std=2).iloc[:, [0, 2]].T.values
data['MACD'], data['MACD_signal'] = ta.macd(data['Close']).iloc[:, [0, 1]].T.values
#data['StochK'], data['StochD'] = ta.stoch(data['High'], data['Low'], data['Close']).iloc[:, [0, 1]].T.values
data['OBV'] = ta.obv(data['Close'], data['Volume'])
data['52_Week_High'] = data['High'].rolling(window=252).max()
data['52_Week_Low'] = data['Low'].rolling(window=252).min()
data['ADX'] = ta.adx(data['High'], data['Low'], data['Close']).iloc[:, 0]  # ADX Line
data['Aroon_Up'], data['Aroon_Down'] = ta.aroon(data['High'], data['Low']).iloc[:, [0, 1]].T.values
#data['AD'] = ta.accdist(data['High'], data['Low'], data['Close'], data['Volume'])

# Show the last few rows of the dataset
data.tail()

,Open,High,Low,Close,Adj Close,Volume,SMA15,EMA5,RSI15,BB_upper,BB_lower,MACD,MACD_signal,OBV,52_Week_High,52_Week_Low,ADX,Aroon_Up,Aroon_Down
Date,,,,,,,,,,,,,,,,,,,
2024-10-08,224.300003,225.979996,223.250000,225.770004,225.770004,31855700,226.613333,225.373346,51.453447,212.113259,233.108171,0.782411,-0.335353,1.764192e+09,237.229996,164.080002,10.398412,0.000000,14.285714
2024-10-09,225.229996,229.750000,224.830002,229.539993,229.539993,33591100,227.203333,226.762228,56.180989,212.058763,233.361952,1.026331,-0.073147,1.797783e+09,237.229996,164.080002,10.273002,85.714286,7.142857
2024-10-10,227.779999,229.500000,227.169998,229.039993,229.039993,28183500,227.214666,227.521483,55.414173,212.015719,233.548925,1.165854,0.053101,1.769599e+09,237.229996,164.080002,10.156551,78.571429,0.000000
2024-10-11,229.300003,229.410004,227.339996,227.550003,227.550003,31759200,227.171333,227.530990,53.100118,212.165725,233.720705,1.143021,0.024215,1.737840e+09,237.229996,164.080002,10.048417,71.428571,35.714286
2024-10-14,228.699997,231.729996,228.600006,231.300003,231.300003,39882100,227.493333,228.787328,57.846842,212.291418,234.088226,1.411252,0.233956,1.777722e+09,237.229996,164.080002,10.491972,64.285714,28.571429

In [11]:
data.to_csv('Apple.csv')

In [15]:
from ydata_profiling import ProfileReport
import pandas as pd

# Load your data
data = pd.read_csv('Apple.csv')

# Create the profile report and specify config_file as None
profile = ProfileReport(data, config_file=None)

# Save the report to an HTML file
profile.to_file("Apple.html")

Summarize dataset: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 391/391 [00:22<00:00, 17.47it/s, Completed]
Generate report structure: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:03<00:00,  3.58s/it]
Render HTML: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:04<00:00,  4.63s/it]
Export report to file: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 22.06it/s]